/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f1ff;
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Top player style start */
.container {
    width: 870px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30PX;

}

/* .top-players {
    padding: 33px;

} */

.section-title {
    color: #562eff;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.player {
    display: flex;
    align-items: center;
    padding-bottom: 29px;
}

.player h3 {
    font-size: 18px;
    font-weight: 500;
}

.player img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* Top Blogs Styles */
.top-blogs {
    padding-top: 29px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.blog {
    display: flex;
}

.blog-thumbnail img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-title {
    font-size: 20px;

}

.blog-author {
    color: #9f9f9f;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
}

/* Latest Courses */
.container {
    margin-top: 21px;
}

.latest-courses {
    display: flex;
    justify-content: space-between;
}

.courses {
    padding: 13px;
    box-shadow: 0 4px 30px rgba(223, 223, 223, 0.5);
    border-radius: 20px;
    width: 252px;
}

.course-thumbnail img {
    width: 100%;
}

.course-title {
    font-size: 23px;
    font-weight: 500;
    color: #1E1E1E;
    ;
}

.course-author {
    font-size: 15px;
    color: #ED6B4F;
}

.course-info .filled {
    color: #FFC014;
    font-size: 14px;
}

.course-info .empty {
    color: #AEAEAE;
    font-size: 14px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-info .rating {
    font-size: 14px;
    color: #A2A2A2;
}

.course-duration {
    width: fit-content;
    background-color: #FFE4E8;
    padding: 4px 10px;
    border-radius: 20px;
}

.course-duration .fa-clock {
    color: #FF4A60;
    font-size: 16px;

}

.course-duration .duration {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5px;
}

/* -----------------------
        Media Queries
-------------------------- */
/* Mobile Devices */
@media only screen and (max-width:576px) {
    .container {
        width: 100%;
        margin-top: 20;
        margin-bottom: 20px;
    }

    .player img {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .section-title {
        text-align: center;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .latest-courses {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .courses {
        width: 100%;
        margin-bottom: 20px;
    }

    .course-title,
    .course-author {
        text-align: center;
    }
}

/* Tablet Devices */
@media only screen and (min-width:576px) and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .blog-title {
        font-size: 16px;
    }

    .blog-author,
    a {
        font-size: 14px;
    }

    .blog-author a {
        font-size: 14px;
    }

    .course-info {
        flex-direction: column;
    }

}